

%div{class: "search-wrapper"}
  = form_tag search_admin_documents_path, method: "post" do
    = text_field_tag "search", nil, autocomplete: "off", class: "input-medium search-query", data:{ "document-type" => "services"}
    = button_tag "Search", type: "submit", class:"btn"